/*
 * Copyright 2011 Freescale Semiconductor, Inc.
 * Copyright 2011 Linaro Ltd.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/dts-v1/;
#include "imx51.dtsi"

/ {
	model = "Zodiac NUI board";
	compatible = "fsl,imx51-zodiac-nui", "fsl,imx51";

	chosen {
		stdout-path = &uart1;
	};

	memory {
		reg = <0x90000000 0x20000000>;
	};

	clocks {
		ckih1 {
			clock-frequency = <22579200>;
		};

		clk_26M: codec_clock {
			compatible = "fixed-clock";
			reg=<0>;
			#clock-cells = <0>;
			clock-frequency = <26000000>;
			gpios = <&gpio4 26 GPIO_ACTIVE_LOW>;
		};
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_mmc_reader_reset: regulator@0 {
			compatible = "regulator-fixed";
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_usbotgreg>;
			reg = <0>;
			regulator-name = "sd_reader_reset";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio3 5 GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};
	};

	dsa@0 {
		compatible = "marvell,dsa";
		#address-cells = <2>;
		#size-cells = <0>;

		dsa,ethernet = <&fec>;
		dsa,mii-bus = <&fec_mdio>;

		switch@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0 0>;	/* MDIO address 0, switch 0 in tree */

			port@0 {
				reg = <0>;
				label = "netleft";
			};

			port@1 {
				reg = <1>;
				label = "netright";
			};

			port@2 {
				reg = <2>;
				label = "port1";
			};

			port@3 {
				reg = <3>;
				label = "port2";
			};

			port@4 {
				reg = <4>;
				label = "port3";
			};
			port@5 {
				reg = <5>;
				label = "port4";
			};
			port@6 {
				reg = <6>;
				label = "cpu";
			};
		};
       };
};

&ecspi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi1>;
	fsl,spi-num-chipselects = <4>;
	cs-gpios = <&gpio4 24 GPIO_ACTIVE_HIGH>,
		   <&gpio4 25 GPIO_ACTIVE_LOW>,
		   <&gpio3 0  GPIO_ACTIVE_LOW>,
		   <&gpio1 18 GPIO_ACTIVE_LOW>;
	status = "okay";

	pmic: mc13892@0 {
		compatible = "fsl,mc13892";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_pmic>;
		spi-max-frequency = <6000000>;
		spi-cs-high;
		reg = <0>;
		interrupt-parent = <&gpio1>;
		interrupts = <8 IRQ_TYPE_LEVEL_HIGH>;
		fsl,mc13xxx-uses-rtc;

		regulators {
			sw1_reg: sw1 {
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <1375000>;
				regulator-boot-on;
				regulator-always-on;
			};

			sw2_reg: sw2 {
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <1850000>;
				regulator-boot-on;
				regulator-always-on;
			};

			sw3_reg: sw3 {
				regulator-min-microvolt = <1100000>;
				regulator-max-microvolt = <1850000>;
				regulator-boot-on;
				regulator-always-on;
			};

			sw4_reg: sw4 {
				regulator-min-microvolt = <1100000>;
				regulator-max-microvolt = <1850000>;
				regulator-boot-on;
				regulator-always-on;
			};

			vpll_reg: vpll {
				regulator-min-microvolt = <1050000>;
				regulator-max-microvolt = <1800000>;
				regulator-boot-on;
				regulator-always-on;
			};

			vdig_reg: vdig {
				regulator-min-microvolt = <1650000>;
				regulator-max-microvolt = <1650000>;
				regulator-boot-on;
			};

			vsd_reg: vsd {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3150000>;
			};

			vusb2_reg: vusb2 {
				regulator-min-microvolt = <2400000>;
				regulator-max-microvolt = <2775000>;
				regulator-boot-on;
				regulator-always-on;
			};

			vvideo_reg: vvideo {
				regulator-min-microvolt = <2775000>;
				regulator-max-microvolt = <2775000>;
			};

			vaudio_reg: vaudio {
				regulator-min-microvolt = <2300000>;
				regulator-max-microvolt = <3000000>;
			};

			vcam_reg: vcam {
				regulator-min-microvolt = <2500000>;
				regulator-max-microvolt = <3000000>;
			};

			vgen1_reg: vgen1 {
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;
			};

			vgen2_reg: vgen2 {
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <3150000>;
				regulator-always-on;
			};

			vgen3_reg: vgen3 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <2900000>;
				regulator-always-on;
			};
		};
	};

	flash: at45db642d@1 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "atmel,at45db642d", "atmel,at45", "atmel,dataflash";
		spi-max-frequency = <25000000>;
		reg = <1>;

		partition@0 {
			label = "NOR-config";
			reg = <0x0 0x00000400>;
			read-only;
		};

		partition@400 {
			label = "NOR-bootloader";
			reg = <0x00000400 0x000FFC00>;
		};

		partition@100000 {
			label = "NOR-kernel";
			reg = <0x00100000 0x00300000>;
		};

		partition@400000 {
			label = "NOR-rootfs";
			reg = <0x00400000 0x00400000>;
		};
	};
};

&ecspi2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi2>;
	fsl,spi-num-chipselects = <4>;
	cs-gpios = <&gpio3 24 GPIO_ACTIVE_LOW>,
		   <&gpio3 28 GPIO_ACTIVE_LOW>,
		   <&gpio3 27 GPIO_ACTIVE_LOW>,
		   <&gpio3 26 GPIO_ACTIVE_LOW>;
	status = "okay";
};

/* eMMC */
&esdhc1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_esdhc1>;
	bus-width = <8>;
	non-removable;
	status = "okay";
};

/* u-SD */
&esdhc4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_esdhc4>;
	bus-width = <4>;
	cd-gpios = <&gpio4 8 GPIO_ACTIVE_LOW>;
	status = "okay";
};

/* Add eth switch? */
&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec>;
	status = "okay";

	fixed-link {
		speed = <1000>;
		full-duplex;
	};

	fec_mdio: mdio {
		/* nope */
	};
};

&i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2>;
	status = "okay";

	adt7411a@4a {
		compatible = "adi,adt7411";
		reg = <0x4a>;
	};
	lm75@48 {
		compatible = "lm75";
		reg = <0x48>;
	};

	eeprom@50 {
		compatible = "atmel,24c04";
		pagesize = <16>;
		reg = <0x50>;
	};

	eeprom@54 {
		compatible = "atmel,24c04";
		pagesize = <16>;
		reg = <0x54>;
	};

	rtc@68 {
		compatible = "maxim,ds1341";
		reg = <0x68>;
	};
};

&ssi2 {
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	status = "okay";
};

&usbotg {
	dr_mode = "host";
	disable-over-current;
	phy_type = "utmi_wide";
	vbus-supply = <&reg_mmc_reader_reset>;
	status = "okay";
};

&weim {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_weim>;
	status = "okay";
};

&iomuxc {
	imx51-zodiac-nui {
		/* done */
		pinctrl_pmic: pmicgrp {
			fsl,pins = <
				MX51_PAD_GPIO1_4__GPIO1_4		0x85 /* WDOG_B */
				MX51_PAD_GPIO1_8__GPIO1_8		0xe5 /* IRQ */
			>;
		};

		/* done */
		pinctrl_uart1: uart1grp {
			fsl,pins = <
				MX51_PAD_UART1_RXD__UART1_RXD		0x1c5
				MX51_PAD_UART1_TXD__UART1_TXD		0x1c5
			>;
		};

		/* done */
		pinctrl_uart2: uart2grp {
			fsl,pins = <
				MX51_PAD_UART2_RXD__UART2_RXD		0x1c5
				MX51_PAD_UART2_TXD__UART2_TXD		0x1c5
			>;
		};

		/* done */
		pinctrl_uart3: uart3grp {
			fsl,pins = <
				MX51_PAD_UART3_RXD__UART3_RXD		0x1c5
				MX51_PAD_UART3_TXD__UART3_TXD		0x1c5
			>;
		};

		/* done */
		pinctrl_ecspi1: ecspi1grp {
			fsl,pins = <
				MX51_PAD_CSPI1_MISO__ECSPI1_MISO	0x185
				MX51_PAD_CSPI1_MOSI__ECSPI1_MOSI	0x185
				MX51_PAD_CSPI1_SCLK__ECSPI1_SCLK	0x185
				MX51_PAD_CSPI1_SS0__GPIO4_24		0x85 /* CS0 */
				MX51_PAD_CSPI1_SS1__GPIO4_25		0x85 /* CS1 */
				MX51_PAD_DI1_PIN11__GPIO3_0		0x85 /* CS2 */
				MX51_PAD_USBH1_DATA7__GPIO1_18		0x85 /* CS3 */
			>;
		};

		/* done */
		pinctrl_ecspi2: ecspi2grp {
			fsl,pins = <
				MX51_PAD_NANDF_RB2__ECSPI2_SCLK		0x185
				MX51_PAD_NANDF_RB3__ECSPI2_MISO		0x185
				MX51_PAD_NANDF_D15__ECSPI2_MOSI		0x185
				MX51_PAD_NANDF_RDY_INT__GPIO3_24	0x85 /* CS0 */
				MX51_PAD_NANDF_D12__GPIO3_28		0x85 /* CS1 */
				MX51_PAD_NANDF_D13__GPIO3_27		0x85 /* CS2 */
				MX51_PAD_NANDF_D14__GPIO3_26		0x85 /* CS3 */
			>;
		};

		/* done */
		pinctrl_i2c2: i2c2grp {
			fsl,pins = <
				MX51_PAD_KEY_COL4__I2C2_SCL		0x400001ed
				MX51_PAD_KEY_COL5__I2C2_SDA		0x400001ed
			>;
		};

		/* done */
		pinctrl_esdhc1: esdhc1grp {
			fsl,pins = <
				MX51_PAD_SD1_CMD__SD1_CMD		0x400020d5
				MX51_PAD_SD1_CLK__SD1_CLK		0x20d5
				MX51_PAD_SD1_DATA0__SD1_DATA0		0x20d5
				MX51_PAD_SD1_DATA1__SD1_DATA1		0x20d5
				MX51_PAD_SD1_DATA2__SD1_DATA2		0x20d5
				MX51_PAD_SD1_DATA3__SD1_DATA3		0x20d5
				MX51_PAD_SD2_DATA0__SD1_DAT4		0x20d5
				MX51_PAD_SD2_DATA1__SD1_DAT5		0x20d5
				MX51_PAD_SD2_DATA2__SD1_DAT6		0x20d5
				MX51_PAD_SD2_DATA3__SD1_DAT7		0x20d5
			>;
		};

		/* done */
		pinctrl_esdhc4: esdhc4grp {
			fsl,pins = <
				MX51_PAD_NANDF_RB1__SD4_CMD		0x400020d5
				MX51_PAD_NANDF_CS2__SD4_CLK		0x20d5
				MX51_PAD_NANDF_CS3__SD4_DAT0		0x20d5
				MX51_PAD_NANDF_CS4__SD4_DAT1		0x20d5
				MX51_PAD_NANDF_CS5__SD4_DAT2		0x20d5
				MX51_PAD_NANDF_CS6__SD4_DAT3		0x20d5
				MX51_PAD_NANDF_D0__GPIO4_8		0x100 /* CD */
			>;
		};

		/* done */
		pinctrl_fec: fecgrp {
			fsl,pins = <
				MX51_PAD_DISP2_DAT15__FEC_TDATA0	0x00002004
				MX51_PAD_DISP2_DAT6__FEC_TDATA1		0x00002004
				MX51_PAD_DISP2_DAT7__FEC_TDATA2		0x00002004
				MX51_PAD_DISP2_DAT8__FEC_TDATA3		0x00002004
				MX51_PAD_DISP2_DAT9__FEC_TX_EN		0x00002004
				MX51_PAD_DISP2_DAT10__FEC_COL		0x00000180
				MX51_PAD_DISP2_DAT11__FEC_RX_CLK	0x00000180
				MX51_PAD_DISP2_DAT12__FEC_RX_DV		0x000020a4
				MX51_PAD_DISP2_DAT13__FEC_TX_CLK	0x00002180
				MX51_PAD_DISP2_DAT14__FEC_RDATA0	0x00002180
				MX51_PAD_DI2_DISP_CLK__FEC_RDATA1	0x00000085
				MX51_PAD_DI_GP4__FEC_RDATA2		0x00000085
				MX51_PAD_DISP2_DAT0__FEC_RDATA3		0x00000085
				MX51_PAD_DI2_PIN2__FEC_MDC		0x00002004
				MX51_PAD_DI2_PIN3__FEC_MDIO		0x000001f5
				MX51_PAD_DI2_PIN4__FEC_CRS		0x00000180
				/* Phy Reset? */
			>;
		};

		/* done */
		pinctrl_weim: weimgrp {
			fsl,pins = <
				MX51_PAD_EIM_DA0__EIM_DA0		0x80000000
				MX51_PAD_EIM_DA1__EIM_DA1		0x80000000
				MX51_PAD_EIM_DA2__EIM_DA2		0x80000000
				MX51_PAD_EIM_DA3__EIM_DA3		0x80000000
				MX51_PAD_EIM_DA4__EIM_DA4		0x80000000
				MX51_PAD_EIM_DA5__EIM_DA5		0x80000000
				MX51_PAD_EIM_DA6__EIM_DA6		0x80000000
				MX51_PAD_EIM_DA7__EIM_DA7		0x80000000
				MX51_PAD_EIM_DA8__EIM_DA8		0x80000000
				MX51_PAD_EIM_DA9__EIM_DA9		0x80000000
				MX51_PAD_EIM_DA10__EIM_DA10		0x80000000
				MX51_PAD_EIM_DA11__EIM_DA11		0x80000000
				MX51_PAD_EIM_DA12__EIM_DA12		0x80000000
				MX51_PAD_EIM_DA13__EIM_DA13		0x80000000
				MX51_PAD_EIM_DA14__EIM_DA14		0x80000000
				MX51_PAD_EIM_DA15__EIM_DA15		0x80000000
				MX51_PAD_EIM_D16__EIM_D16		0x80000000
				MX51_PAD_EIM_D17__EIM_D17		0x80000000
				MX51_PAD_EIM_D18__EIM_D18		0x80000000
				MX51_PAD_EIM_D19__EIM_D19		0x80000000
				MX51_PAD_EIM_D20__EIM_D20		0x80000000
				MX51_PAD_EIM_D21__EIM_D21		0x80000000
				MX51_PAD_EIM_D22__EIM_D22		0x80000000
				MX51_PAD_EIM_D23__EIM_D23		0x80000000
				MX51_PAD_EIM_D24__EIM_D24		0x80000000
				MX51_PAD_EIM_D25__EIM_D25		0x80000000
				MX51_PAD_EIM_D26__EIM_D26		0x80000000
				MX51_PAD_EIM_D28__EIM_D28		0x80000000
				MX51_PAD_EIM_D29__EIM_D29		0x80000000
				MX51_PAD_EIM_D30__EIM_D30		0x80000000
				MX51_PAD_EIM_D31__EIM_D31		0x80000000
				MX51_PAD_EIM_A16__EIM_A16		0x80000000
				MX51_PAD_EIM_A17__EIM_A17		0x80000000
				MX51_PAD_EIM_A18__EIM_A18		0x80000000
				MX51_PAD_EIM_A19__EIM_A19		0x80000000
				MX51_PAD_EIM_A20__EIM_A20		0x80000000
				MX51_PAD_EIM_A21__EIM_A21		0x80000000
				MX51_PAD_EIM_A22__EIM_A22		0x80000000
				MX51_PAD_EIM_A23__EIM_A23		0x80000000
				MX51_PAD_EIM_A24__EIM_A24		0x80000000
				MX51_PAD_EIM_A25__EIM_A25		0x80000000
				MX51_PAD_EIM_A26__EIM_A26		0x80000000
				MX51_PAD_EIM_EB0__EIM_EB0		0x80000000
				MX51_PAD_EIM_EB1__EIM_EB1		0x80000000
				MX51_PAD_EIM_OE__EIM_OE			0x80000000
				MX51_PAD_EIM_CS0__EIM_CS0		0x80000000
				MX51_PAD_EIM_CS1__EIM_CS1		0x80000000
			>;
		};

		/* done */
		pinctrl_usbotgreg: usbotgreggrp {
			fsl,pins = <
				MX51_PAD_DISPB2_SER_DIN__GPIO3_5	0x85
			>;
		};

		/* gpio, tie to? check */
		pinctrl_gpio: miscgpiosgrp {
			fsl,pins = <
				/* EIM as testpoint */
				MX51_PAD_EIM_A27__GPIO2_21		0x5

				/* GPIO_2_27 .. GPIO_2_30 */
				MX51_PAD_EIM_CS2__GPIO2_27		0x5
				MX51_PAD_EIM_CS3__GPIO2_28		0x5
				MX51_PAD_EIM_CS4__GPIO2_29		0x5
				MX51_PAD_EIM_CS5__GPIO2_30		0x5

				/* INT 5 */
				MX51_PAD_EIM_DTACK__GPIO2_31		0x5

				/* MCU_I2C_SCL and MCU_I2C_SDA */
				MX51_PAD_USBH1_DATA0__GPIO1_11		0x5
				MX51_PAD_USBH1_DATA1__GPIO1_12		0x5

				/* Pinstrap1-7 */
				MX51_PAD_USBH1_DATA2__GPIO1_13		0x5
				MX51_PAD_USBH1_DATA3__GPIO1_14		0x5
				MX51_PAD_USBH1_DATA4__GPIO1_15		0x5
				MX51_PAD_USBH1_DATA5__GPIO1_16		0x5
				MX51_PAD_USBH1_DATA6__GPIO1_17		0x5
				MX51_PAD_OWIRE_LINE__GPIO1_24		0x5
				MX51_PAD_USBH1_CLK__GPIO1_25		0x5

				/* System type 0..3 */
				MX51_PAD_NANDF_D2__GPIO4_6		0x5
				MX51_PAD_NANDF_D3__GPIO4_5		0x5
				MX51_PAD_NANDF_D4__GPIO4_4		0x5
				MX51_PAD_NANDF_D5__GPIO4_3		0x5

				/* CTRL 0..4 */
				MX51_PAD_CSI1_D8__GPIO3_12		0x5
				MX51_PAD_CSI1_D9__GPIO3_13		0x5
				MX51_PAD_CSI1_VSYNC__GPIO3_14		0x5
				MX51_PAD_CSI1_HSYNC__GPIO3_15		0x5
				MX51_PAD_CSI2_D12__GPIO4_9		0x5

				/* INT 0..5 */
				MX51_PAD_CSI2_D13__GPIO4_10		0x5
				MX51_PAD_CSI2_D18__GPIO4_11		0x5
				MX51_PAD_CSI2_D19__GPIO4_12		0x5
				MX51_PAD_CSI2_VSYNC__GPIO4_13		0x5
				MX51_PAD_CSI2_HSYNC__GPIO4_14		0x5
				MX51_PAD_CSI2_PIXCLK__GPIO4_15		0x5

				/* SW_INT and n.u. */
				MX51_PAD_AUD3_BB_CK__GPIO4_20		0x5
				MX51_PAD_AUD3_BB_FS__GPIO4_21		0x5

				/* MX51_PAD_CSPI1_RDY__GPIO4_26 */
				MX51_PAD_CSPI1_RDY__GPIO4_26		0x5

				/* SD4 Card Detect */
				MX51_PAD_NANDF_D0__GPIO4_8		0x5

				/* 3x n.u. */
				MX51_PAD_DISPB2_SER_DIO__GPIO3_6	0x5
				MX51_PAD_DISPB2_SER_CLK__GPIO3_7	0x5
				MX51_PAD_DISPB2_SER_RS__GPIO3_8		0x5

				/* PMIC_IRQ - not used */
				MX51_PAD_PMIC_INT_REQ__PMIC_INT_REQ	0x5

				/* HOST_INTERRUPT_B, n.u., WDOG_B, INT_FROM_PMIC */
				MX51_PAD_GPIO1_2__GPIO1_2		0x5
				MX51_PAD_GPIO1_3__GPIO1_3		0x5
			>;
		};
	};
};
